{% extends 'dateapp/base.html' %} {% block content %}
<div class="searchArea" id="makeImg">
    <form method="post" action>

        <p>Number of People</p>
        <p>{{ male_text }}</p>
        <input type="text" id="search-text-male" class="searchTextMale" size="30" maxlength="3" placeholder="number">
        <p>{{ female_text }}</p>
        <input type="text" id="search-text-female" class="searchTextFemale" size="30" maxlength="3" placeholder="number">
        <p>{{ situation_text }}</p>
        <input type="text" id="search-text-situation" class="searchTextSituation" size="30" maxlength="50" placeholder="situation">
        <p>Time</p>
        from <input type="time" id="time-text-left" name=" time1 " value="00:00 " max="23:59 " required> to <input type="time" id="time-text-right" name="time2" value="00:00 " max="23:59 " required>
        <p>The place(area)</p>
        <input type="text " id="search-text-place " class="searchTextPlace " size="30 " maxlength="50 " placeholder="where ">
        <p><a href="file:///Users/mitsuzawadaichi/gitclone/mydatesite/result.html " class="movingresultpage ">Search</p></a>


    </form>
</div>
{% endblock %}



</body>

</html>